@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-12;
}

.illustration {
  width: 12rem;
  height: 12rem;

  @include md {
    width: 16rem;
    height: 16rem;
  }
}

.errorCode {
  font-size: 2.25rem;
  font-weight: 700;
  padding: $spacing-4 $spacing-8;
  border-radius: 9999px;

  @include md {
    font-size: 3rem;
    margin-top: $spacing-8;
  }
}

.headerDesktop {
  display: none;

  @include md {
    display: block;
  }
}

.headerMobile {
  display: block;

  @include md {
    display: none;
  }
}

.helpText {
  font-size: 0.875rem;
  max-width: 42rem;
  text-align: center;

  @include md {
    font-size: 1rem;
    font-weight: 700;
    margin-top: $spacing-8;
  }
}

.routeList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: $spacing-8;
  margin-right: $spacing-8;

  @include sm {
    margin-left: 0;
    margin-right: 0;
  }

  @include md {
    margin-top: $spacing-8;
  }
}

.childrenWrapper {
  margin-top: $spacing-12;
  width: 100%;
}
