@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: $spacing-4;

  @include md {
    flex-direction: row;
  }
}
