@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: $z-10;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  background-color: $color-neutral-100;
  width: 100%;
  min-height: 4rem;
  padding-left: $spacing-6;
  padding-right: $spacing-6;

  @include sm {
    padding-left: $spacing-24;
    padding-right: $spacing-24;
  }

  @include md {
    padding-left: $spacing-40;
    padding-right: $spacing-40;
  }

  @include lg {
    padding-left: $spacing-56;
    padding-right: $spacing-56;
  }

  @include xl {
    padding-left: $spacing-72;
    padding-right: $spacing-72;
  }

  @include xxl {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.link {
  padding-left: $spacing-2;
  padding-right: $spacing-2;
  border-radius: $radius-3xl;

  &:hover {
    background-color: $color-neutral-300;
  }
}

.linkContent {
  display: grid;
  justify-items: center;
  align-content: center;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
}

.labelDesktop {
  display: none;

  @include md {
    display: block;
  }
}

.labelMobile {
  display: block;

  @include md {
    display: none;
  }
}

.logo {
  border-radius: $radius-full;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
