.changelog {
  h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  ul {
    margin-bottom: 16px;
    list-style-type: disc;
  }

  li {
    line-height: 32px;
  }

  table {
    margin-top: 16px;
    width: 100%;
  }

  tr {
    border: 1px solid grey;
  }

  th {
    background-color: #ededed;
  }

  th,
  td {
    padding: 4px 8px;
    font-size: 14px;
    border-right: 1px solid grey;
  }

  code {
    background-color: #ededed;
    border: 1px solid #acacac;
    border-radius: 8px;
    padding: 2px 4px;
  }

  hr {
    margin-bottom: 24px;
  }
}
