@use '../../styles/tokens' as *;

.container {
  width: 100%;
  border-radius: $radius-lg;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  background-color: $color-neutral-200;
}

.question {
  border-radius: $radius-lg $radius-lg 0 0;
  background-color: $color-black;
  color: $color-white;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: $spacing-2;
  padding: $spacing-2 $spacing-3;
}

.answerWrapper {
  padding: $spacing-2;
  padding-top: 0;
}

.answer {
  padding: $spacing-1;
}
