@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.sectionLink {
  display: flex;
  flex-direction: row;
  margin: $spacing-5;
  border: 4px solid var(--pantheon-bg, #64748b);
  border-radius: $radius-3xl;
  background-color: var(--pantheon-bg, #64748b);
  color: var(--pantheon-text, white);
  @include transition-colors;

  @include sm {
    display: block;
    width: 100%;
    margin: 0;
  }

  @include lg {
    background-color: transparent;
    color: black;

    &:hover {
      background-color: var(--pantheon-bg, #64748b);
      color: var(--pantheon-text, white);
    }
  }
}

.sectionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include sm {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $radius-3xl;
  padding: 0.625rem;
  width: 15rem;

  @include sm {
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
}

.icon {
  width: 6rem;
  margin: $spacing-6;

  @include sm {
    margin: $spacing-12;
  }
}

.body {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.bodyInner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include sm {
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
    padding-right: $spacing-8;
  }

  @include md {
    margin-right: $spacing-6;
  }
}

.titleRow {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include sm {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;

  @include md {
    text-align: left;
  }
}

.titleSubtitle {
  display: none;
  font-size: 0.875rem;
  margin-left: $spacing-4;

  @include md {
    display: inline;
  }
}

.badge {
  margin-top: $spacing-2;

  @include md {
    margin-top: 0;
  }
}

.description {
  font-weight: 500;
  margin-top: $spacing-4;
  display: block;
  text-align: center;

  @include md {
    text-align: left;
  }
}
