@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.nav {
  display: flex;
  justify-content: center;
  margin: $spacing-2;
}

.item {
  border: 1px solid $color-slate-300;
  border-radius: $radius-lg;
  width: 1.75rem;
  margin: $spacing-1;
  padding: $spacing-1 $spacing-2;
  cursor: pointer;
  @include focus-ring;

  &:hover {
    background-color: $color-slate-200;
  }
}

.itemActive {
  background-color: $color-slate-300;

  &:hover {
    background-color: $color-slate-100;
  }
}
