@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing-1;
  @include transition-transform;

  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  width: 2.5rem;
}
