:root {
  --color-pantheon-aztec-bg:          #c2410c;
  --color-pantheon-aztec-text:        #f5f5f5;
  --color-pantheon-celtic-bg:         #047857;
  --color-pantheon-celtic-text:       #f5f5f5;
  --color-pantheon-chinese-bg:        #b91c1c;
  --color-pantheon-chinese-text:      #f5f5f5;
  --color-pantheon-egyptian-bg:       #fbbf24;
  --color-pantheon-egyptian-text:     #171717;
  --color-pantheon-greek-bg:          #1d4ed8;
  --color-pantheon-greek-text:        #f5f5f5;
  --color-pantheon-hindu-bg:          #f59e0b;
  --color-pantheon-hindu-text:        #064e3b;
  --color-pantheon-japanese-bg:       #d4d4d4;
  --color-pantheon-japanese-text:     #7f1d1d;
  --color-pantheon-mayan-bg:          #5b21b6;
  --color-pantheon-mayan-text:        #f5f5f5;
  --color-pantheon-mesopotamian-bg:   #ec4899;
  --color-pantheon-mesopotamian-text: #f5f5f5;
  --color-pantheon-norse-bg:          #0ea5e9;
  --color-pantheon-norse-text:        #f5f5f5;
  --color-pantheon-roman-bg:          #7f1d1d;
  --color-pantheon-roman-text:        #b45309;
}
