@use '../src/styles/tokens' as *;
@use '../src/styles/mixins' as *;

.routeList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: $spacing-8;
  margin-right: $spacing-8;

  @include sm {
    margin-left: 0;
    margin-right: 0;
  }

  @include md {
    margin-top: $spacing-16;
  }
}
