@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.container {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-4;
  padding-right: $spacing-4;
}

.yesterdayText {
  text-align: center;
  margin-top: $spacing-8;
  margin-bottom: $spacing-8;
}

.yesterdayLink {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #f472b6;
  text-decoration-color: #38bdf8;

  @include lg {
    color: inherit;
    text-decoration-color: inherit;

    &:hover {
      color: #f472b6;
      text-decoration-color: #38bdf8;
    }
  }
}

.viewResultsWrapper {
  text-align: center;
  margin-top: $spacing-12;
}

.viewResultsButton {
  padding: $spacing-3 $spacing-6;
  background: linear-gradient(to right, #f472b6, #38bdf8);
  color: $color-white;
  border-radius: $radius-xl;
  font-weight: 700;
  @include transition-colors;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, #ec4899, #0ea5e9);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  }
}

.faqWrapper {
  margin-top: $spacing-12;
}
