@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-12;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-4;

  @include md {
    flex-direction: row;
  }
}

.filterItem {
  width: 10rem;
}

.resetButton {
  padding: $spacing-3 $spacing-4;
  border-radius: $radius-xl;
  background: linear-gradient(to right, #f472b6, #38bdf8);
  color: $color-white;
  font-size: 1rem;
  font-weight: 600;
  @include transition-all;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
  align-self: center;

  &:hover {
    background: linear-gradient(to right, #ec4899, #0ea5e9);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgb(244 114 182 / 0.2);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background: linear-gradient(to right, #f472b6, #38bdf8);
    }
  }

  @include md {
    padding: $spacing-4 $spacing-5;
    align-self: flex-end;
  }
}
