@use '../../../styles/tokens' as *;

.container {
  margin-top: $spacing-12;
}

.recentTitle {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: $spacing-8;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
