@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.label {
  display: block;
}

.labelText {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #404040;
  margin-bottom: $spacing-2;
}

.select {
  width: 100%;
  padding: $spacing-3 $spacing-4;
  border: 2px solid #d4d4d4;
  border-radius: $radius-xl;
  font-size: 1rem;
  font-weight: 500;
  background-color: $color-white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
  @include transition-all;

  &:focus {
    border-color: #f472b6;
    outline: none;
    box-shadow: 0 0 0 4px rgb(244 114 182 / 0.2), 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include md {
    padding: $spacing-4 $spacing-5;
  }
}
