@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  color: $color-white;
  background-color: $color-black;
  height: 8rem;
  z-index: $z-10;
  margin-top: auto;
  padding-left: $spacing-6;
  padding-right: $spacing-6;

  @include md {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include xl {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.875rem;
  padding-left: $spacing-6;
  padding-right: $spacing-6;
}

.version {
  margin-top: $spacing-1;
  font-size: 0.75rem;
  font-style: italic;
  width: min-content;
  text-decoration: underline;
  color: $color-pink-400;
  text-decoration-color: $color-sky-500;
  text-underline-offset: 0.25rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
